# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.lref
*.pdb
P4G Save Tool/P4G Save Tool/obj/Release/P4G Save Tool.g.resources
*.exe
P4G Save Tool/P4G Save Tool/obj/Release/P4G Save Tool.csproj.FileListAbsolute.txt
*.baml
*.exe
P4G Save Tool/P4G Save Tool/obj/Release/About.g.cs
P4G Save Tool/P4G Save Tool/obj/Release/P4G Save Tool.exe
P4G Save Tool/P4G Save Tool/obj/Release/P4G Save Tool.g.resources
P4G Save Tool/P4G Save Tool/obj/Release/P4G Save Tool_MarkupCompile.lref
